

body {
  
   background-color: rgb(140, 185, 255); 
}

#title {
  padding: 50px;
  font-family: Abel;
  font-size: 60px;
}

#main-box{
  
  background-color: rgb(237, 239, 242);
  border: solid;
  border-color: rgb(140, 185, 255);
  border-radius:10px;
  margin: 0px 350px 20px 350px;
}

#question-box {
  width: 100%;
  border: 5px;
  border-radius: 4px;
  padding: 8px 70px 8px 5px;
  text-align: left;
  
}

form {
  text-align: center;
  margin: 30px;
}

#submit-button {
  width: 35%;
  margin: 30px auto 10px;
}

#answer-box {
  background-color: rgb(237, 239, 242);
  border: solid;
  border-color:rgb(140, 185, 255);
  border-radius:10px;
  margin: 35px 150px 5px 150px;
}

#ques-label {
  text-align: left;
  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#answer {
  font-size: 20px;
}
